logs
*.log
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part
*.jsonl.gz.part.

results
results_test

task

.venv

__pycache__
.pytest_cache

detailed_generational
detailed_gap
summary_generational
summary_gap

